<div class="screen">
    <div class="message">
        <div class="img-300">
            <img src="https://media1.tenor.com/images/ab174d6e7a10b9ac9c0462406e5ac6db/tenor.gif?itemid=18204243">
        </div>
        <div class="interchange">
            <p class="font-16">Oooops... Error 404</p>
            <p class="font-10">Lo sentimos pero la página que buscas no existe</p>
            <p class="font-8">Por favor verifique la dirección introducida e intentelo de nuevo</p>
            <button mat-button color="primary" routerLink="/">Volver</button>
        </div>        
    </div>
</div>